OPENAI_API_KEY= 
FIREWORKS_API_KEY=
EXA_API_KEY=
PINECONE_API_KEY = pcsk_2hZrsM_DYFPYCSMSPsuv6bRRA3VjGktzgHADfpvNnQRecZvn8oj1c6joHfmxJpscjTK8nQ
PINECONE_HOST = https://cdss-bot-zkp6imn.svc.aped-4627-b74a.pinecone.io
